<main class="add-car-type">
   <section class="page-header">
      <div class="page-header__top">
         <h2 class="page-header__title title">Добавить баланс агента</h2>
      </div>
   </section>
   <form class="page-form">
      <div class="page-form__main">
         <div class="form__group">
            <div class="tw-grid tw-gap-6">
               <div class="tw-grid md:tw-grid-cols-1 tw-gap-4">
                  <mat-form-field class="form__input">
                     <mat-label>Сумма</mat-label>
                     <input matInput required type="number" name="value" [(ngModel)]="data.agent_balance" />
                  </mat-form-field>
               </div>
            </div>
         </div>
      </div>
      <div class="page-form__footer">
         <button class="page-form__btn btn-red" (click)="close()">Отменить</button>
         <button class="page-form__btn btn-green" (click)="editBalance()">Сохранить</button>
      </div>
   </form>
</main>