@import "base";

.add-driver {
   &__main {
      h3{
         margin-bottom: 10px;
         margin-top: 10px;
      }
      .form__status{
         margin-bottom: 20px;
      }
   }
}
.page-header{
   margin-bottom: 0;
}
.page-header__top{
   padding-bottom: 0;
}
mat-form-field{
   width: 100%;
}

.subscription{
  font-size: 16px;
  margin-right: 10px;
  padding: 3px;
  span{
   font-size: 13px;
   font-weight: bolder;
  }
}


.radio-group {
   border: solid black 1px;
   border-radius: 10px;
   padding: 3px;
   display: inline-flex;
   margin: 5px;
}

.subscription {
   display: flex;
   align-items: center;
   justify-items: center;
   font-size: 16px;
   margin-right: 10px;
   padding: 5px;
   span {
       font-size: 13px;
       font-weight: bolder;
   }
}
