<main class="add-car-type">
    <section class="page-header">
        <div class="page-header__top">
            <h2 class="page-header__title title">Типы Подписка: Добавление</h2>
        </div>
    </section>
    <form class="page-form">
        <div class="page-form__main">
            <div class="form__group ">
                <ng-container>
                    <div class="tw-flex">
                        <mat-form-field class="form__input tw-w-9/12 tw-mr-4">
                            <mat-label>USERID</mat-label>
                            <input matInput [(ngModel)]="dataUser.user_id" type="number" name="user_id"  [ngModelOptions]="{standalone: true}"/>
                        </mat-form-field>
                        <button class="page-form__btn btn-green tw-w-2/12"
                            (click)="searchUser(dataUser.user_id)">Поиск</button>
                    </div>
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>ФИО</mat-label>
                        <input matInput type="text" name="name" readonly [(ngModel)]="dataUser.name"  [ngModelOptions]="{standalone: true}"/>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>Телефон</mat-label>
                        <input matInput type="text" inputmode="tel" name="phone" readonly
                            [(ngModel)]="dataUser.phone"  [ngModelOptions]="{standalone: true}"/>
                    </mat-form-field> 
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>Телефон</mat-label>
                        <input matInput type="text" name="amount" readonly [(ngModel)]="dataUser.amount"  [ngModelOptions]="{standalone: true}"/>
                    </mat-form-field>
                    <br>
                    <div class="tw-flex tw-mt-5">
                        <mat-radio-group [(ngModel)]="dataUser.subscription_id" required (change)="onChange($event)"> 
                            <mat-radio-button *ngFor="let row of subscription" [value]="row.id" class="radio-group">
                                <div class="subscription">Тип: <span> {{ row.name | uppercase }}</span></div>
                                <div class="subscription"> Цена: 
                                    <span *ngIf="row.duration==1"> 80000 </span>
                                    <span *ngIf="row.duration==6"> 180000 </span>
                                    <span *ngIf="row.duration==12"> 570000 </span>
                                </div>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="tw-flex tw-justify-end tw-mt-5">
            <button class="page-form__btn btn-red tw-mr-5"  (click)="dialog.closeAll()">Отменить</button>
            <button class="page-form__btn btn-green" (click)="addUser()">Сохранить</button>
        </div>
    </form>
</main>