<main id="">
    <section class="page-header">
        <div class="page-header__top">
            <h2 class="page-header__title title">Типы услуг</h2>
            <div class="page-header__actions">
                <a class="page-header__btn btn-green" (click)="createService()">
                    Добавить
                </a>
            </div>
        </div>
    </section>
    <section class="table">
        <mat-table [dataSource]="serviceTypes">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Имя</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.name }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="priceKZT">
                <mat-header-cell *matHeaderCellDef>Цена (в KZT)</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.priceKZT }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="priceUZS">
                <mat-header-cell *matHeaderCellDef>Цена (в UZS)</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.priceUZS }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item color="accent" (click)="goToColumn(row)">
                                <mat-icon>edit</mat-icon>
                                Редактировать
                            </button>
                            <button mat-menu-item color="accent" (click)="delete(row.id)">
                                <mat-icon>remove</mat-icon>
                                Удалить
                            </button>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id', 'name', 'priceKZT','priceUZS', 'actions']"></mat-header-row>
            <mat-row (click)="goToColumn(row)"
                *matRowDef="let row;columns: ['id', 'name', 'priceKZT','priceUZS', 'actions']"></mat-row>
        </mat-table>
        <mat-paginator [length]="helper.users_count" showFirstLastButtons [pageSizeOptions]="sizespage"
            (page)="handlePage($event)"></mat-paginator>
    </section>
</main>