@import "base";

.mat-column-index {
    flex: 0 0 5% !important;
}

.mat-column-id {
    flex: 0 0 3% !important;
}

.mat-column-userid {
    flex: 0 0 5% !important;
}

.mat-column-service_id {
    flex: 0 0 5% !important;
}

.mat-column-status {
    flex: 0 0 20% !important;
}