<main class=" ">
  <form id="form" enctype="multipart/form-data">
    <section class="view__main">
      <div class="view__top">
        <div class="view__right">
          <div class="tw-grid tw-gap-5 tw-content-start">
            <div class="view__informate view__block">
              <div class="view__list">
                <mat-form-field class="form__input">
                  <mat-label>ФИО</mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.full_name"  [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
                <mat-form-field class="form__input">
                  <mat-label>Фото паспорта с лицом селфи </mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.selfies_with_passport"  [ngModelOptions]="{standalone: true}"/>
                  <button class="passport-button tw-text-xs" (click)="preview(this.driver.selfies_with_passport)"> open</button>
                  <button class="file-upload-button-passport">
                    <input type="file" name="image"
                      (change)="processFile($event, this.driver.selfies_with_passport, 'selfies_with_passport')" />
                  </button>
                </mat-form-field>
                <mat-form-field class="form__input">
                  <mat-label>Банковская карта
                  </mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.bank_card"  [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
                <div class="tw-flex tw-justify-around tw-items-center images-passport">
                  <button class="image-box">
                    <p (click)="preview(this.driver.techpassport_photo1)">
                      Фото тех паспорта 1
                    </p>
                    <button class="file-upload-button">
                      <input type="file" name="image" 
                        (change)="processFile($event, this.driver.techpassport_photo1, 'techpassport_photo1')"  />
                    </button>
                  </button>
                  <button class="image-box">
                    <p (click)="preview(this.driver.techpassport_photo2)">
                      Фото тех паспорта 2
                    </p>
                    <button class="file-upload-button">
                      <input type="file" name="image" 
                        (change)="processFile($event, this.driver.techpassport_photo2, 'techpassport_photo2')" />
                    </button>
                  </button>
                  <button class="image-box">
                    <p (click)="preview(this.driver.transportation_license_photo)"> Фото лицензия на грузоперевозку</p>
                    <button class="file-upload-button">
                      <input type="file" name="image"
                        (change)="processFile($event, this.driver.transportation_license_photo, 'transportation_license_photo')" />
                    </button>
                  </button>
                  <button class="image-box">
                    <p (click)="preview(this.driver.adr_photo)">
                      Водительское удостоверение
                    </p>
                    <button class="file-upload-button">
                      <input type="file" name="image"
                        (change)="processFile($event, this.driver.adr_photo, 'adr_photo')" />
                    </button>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="tw-grid tw-gap-5 tw-content-start">
            <div class="view__docs">
              <div class="view__list">
                <mat-form-field class="form__input">
                  <mat-label>Номер телефона</mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.phone"  [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>

                <mat-form-field class="form__input">
                  <mat-label>Гос. номер Тягача </mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.state_registration_truckNumber" [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <mat-form-field class="form__input">
                  <mat-label>Тип транспорта </mat-label>
                  <input matInput type="text" [value]="returnNameTypeTransport(this.driver.type)" readonly />
                </mat-form-field>
                <div class="tw-flex tw-justify-between tw-items-center images-passport">
                  <button class="image-box">
                    <img src="../../../assets/img/trucks//opposite.png" alt="Track opposite"
                      (click)="preview(this.driver.transport_front_photo)">
                    <button class="file-upload-button">
                      <input type="file" name="image"
                        (change)="processFile($event, this.driver.transport_front_photo, 'transport_front_photo')" />
                    </button>
                  </button>
                  <button class="image-box">
                    <img src="../../../assets/img/trucks//back.png" alt="Track back"
                      (click)="preview(this.driver.transport_back_photo)">

                    <button class="file-upload-button">
                      <input type="file" name="image"
                        (change)="processFile($event, this.driver.transport_back_photo, 'transport_back_photo')" />
                    </button>
                  </button>
                  <button class="image-box">
                    <img src="../../../assets/img/trucks//right.png" alt="Track right"
                      (click)="preview(this.driver.transport_side_photo)">
                    <button class="file-upload-button">
                      <input type="file" name="image"
                        (change)="processFile($event, this.driver.transport_side_photo, 'transport_side_photo')" />
                    </button>
                  </button>
                </div>

                <mat-form-field class="form__input">
                  <mat-label>Марка транспорта </mat-label>
                  <input matInput type="text" [(ngModel)]="this.driver.brand_name" [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view__buttons">
        <button class="view__btn btn-green" (click)="verify(this.driver.id)">
          Верифицировать
        </button>
        <button class="view__btn btn-green" (click)="update(this.driver)">
          Обновлять
        </button>
      </div>
    </section>
  </form>
</main>