<main class="add-car-type">
    <section class="page-header">
        <div class="page-header__top">
            <h2 class="page-header__title title">Оформить услугу</h2>
        </div>
    </section>
    <form class="page-form">
        <div class="page-form__main">
            <div class="form__group ">
                <ng-container>
                    <div class="tw-flex">
                        <mat-form-field class="form__input tw-w-9/12 tw-mr-4">
                            <mat-label>ID Водителя </mat-label>
                            <input matInput [(ngModel)]="dataUser.user_id" type="number" name="user_id"
                                [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                        <button class="page-form__btn btn-green tw-w-2/12"
                            (click)="searchUser(dataUser.user_id)">Поиск</button>
                    </div>
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>ФИО </mat-label>
                        <input matInput type="text" name="name"  [(ngModel)]="dataUser.name"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>Телефон </mat-label>
                        <input matInput type="text" inputmode="tel" name="phone" readonly [(ngModel)]="dataUser.phone"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="form__input tw-w-full">
                        <mat-label>Баланс тирго сервис </mat-label>
                        <input matInput type="text" inputmode="tel" name="balance" readonly
                            [(ngModel)]="dataUser.balance" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <div class="tw-flex tw-mt-5">
                        <mat-radio-group  required (change)="onChange($event)">
                            <mat-radio-button *ngFor="let row of services.data" [value]="row" class="radio-group">
                                <div class="subscription">Тип: <span class="tw-ml-2"> {{ row.name | uppercase }}</span>
                                </div>
                                <div class="subscription"> 
                                    Цена: <span class="tw-ml-2"> {{ row.price_uzs | uppercase }} UZS</span>
                                </div>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="tw-flex tw-justify-end tw-mt-5">
            <button class="page-form__btn btn-red tw-mr-5" (click)="dialog.closeAll()">Отменить</button>
            <button class="page-form__btn btn-green" (click)="applyService()">Сохранить</button>
        </div>
    </form>
</main>