<main class="fin-request">
  <section class="page-header">
    <div class="page-header__top">
      <h2 class="page-header__title title">Запрос на финансирование</h2>
    </div>
  </section>

  <section class="table">

    <mat-table [dataSource]="data">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Водитель ID </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index"> {{ row.driver_id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>ФИО</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Тип</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.withdraw_type }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <span *ngIf="row.status == 1" class="btn-green">Завершен</span>
          <span *ngIf="row.status == 0" class="btn-red">Активен</span>
         </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="[
          'id',
          'name',
          'type',
          'status'
        ]"></mat-header-row>
      <mat-row (click)="goToColumn(row)" *matRowDef="
          let row;
          columns: ['id', 'name', 'type', 'status']
        "></mat-row>
    </mat-table>
  </section>

</main>



<ng-template #dialogRef>
  <form #form="ngForm">
    <mat-card>
      <mat-card-header><span class="title"></span>
      </mat-card-header>

      <mat-card-content style="margin-top: 20px">
        <div style="display: flex;">
          <ul style="margin-right: 15px;">
            <li><b>Дата:</b></li>
            <li><b>ID водителя:</b></li>
            <li><b>Имя:</b> </li>
            <li><b>Тип:</b></li>
            <li><b>Номер телефона:</b></li>
            <li><b>Активный баланс:</b></li>
            <li><b>Запрос на снятие:</b></li>
            <li><b>Банковская карта:</b></li>
          </ul>
          <ul>
            <li>{{selectedData.created_at | date : "YYYY/MM/dd HH:mm"}}</li>
            <li>{{selectedData.driver_id}}</li>
            <li>{{selectedData.name}}</li>
            <li>{{selectedData.withdraw_type}}</li>
            <li>{{selectedData.phone}}</li>
            <li>{{selectedData.balance}} </li>
            <li>{{selectedData.amount}} </li>
            <li>{{selectedData.bank_card}}</li>
          </ul>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!form.valid" style="margin-left: auto" class="btn-red" [mat-dialog-close]>
          Закрыть
        </button>
        <button   *ngIf="selectedData.status == 0" [disabled]="!form.valid" style="margin-left: auto" class="btn-green" (click)="closeRequest()">
          Завершить
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>