<main class="moderation" id="main">
  <section class="page-header">
    <div class="page-header__top">
      <h2 class="page-header__title title">Модерация</h2>
      <div class="page-header__actions">
        <a class="page-header__btn btn-green" (click)="verifyMerchant()"> Одобрить </a>
        <a class="page-header__btn btn-red" (click)="rejectMerchant()"> Отклонить </a>
      </div>
    </div>
  </section>

  <section class="page-header__top">
    <ul class="info-wrapper" *ngIf="data">
      <li class="info">
        <span *ngIf="data.companyName" class="info-label">Название компании: </span><span>{{ data.companyName }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.supervisorFirstName" class="info-label">Ф.И.О руководителя: </span><span>
          {{ data.supervisorLastName }} {{ data.supervisorFirstName }} </span>
      </li>

      <li class="info">
        <span *ngIf="data.responsiblePersonFistName && data.responsiblePersonLastName" class="info-label">Ф.И.О ответственного лица: </span><span>
          {{ data.responsiblePersonLastName }} {{ data.responsiblePersonFistName }}
        </span>
      </li>

      <li class="info">
        <span *ngIf="data.phoneNumber" class="info-label">Телефон: </span><span>
          <span *ngIf="data.phoneNumber | startsWith998; else add998">{{ data.phoneNumber }}</span>
          <ng-template #add998>+998 {{ data.phoneNumber }}</ng-template>
          
        </span>
      </li>

      <li class="info">
        <span *ngIf="data.legalAddress" class="info-label">Юридический адрес: </span><span>{{ data.legalAddress
          }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.factAddress" class="info-label">Фактический адрес: </span><span>{{ data.factAddress }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.email" class="info-label">Электронная почта: </span><span>{{ data.email }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.bankName" class="info-label">Наименование банка: </span><span>{{ data.bankName }}</span>
      </li>

      <li class="info" *ngFor="let item of data.bankAccounts">
        <span class="info-label">Расчётный счет: </span><span>{{ item.account }} ({{item.currencyName}})</span>
      </li>

      <li class="info">
        <span *ngIf="data.inn" class="info-label">ИНН: </span><span>{{ data.inn }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.oked" class="info-label">ОКЭД: </span><span>{{ data.oked }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.mfo" class="info-label">МФО: </span><span>{{ data.mfo }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.dunsNumber" class="info-label">DUNS номер: </span><span>{{ data.dunsNumber }}</span>
      </li>

      <li class="info">
        <span *ngIf="data.notes" class="info-label">Заметки: </span><span>{{ data.notes }}</span>
      </li>


    </ul>

    <div class="tw-grid tw-gap-5 tw-content-start" style="display: flex;">
      <div class="view__informate view__block">

        <div class="view__list" style="display: flex; margin: 5px 0;">
          <button class="image-box" (click)="preview(data.logoFilePath)" style="width: 100%;">Логотип</button>
        </div>

        <div class="view__list" style="display: flex; margin: 5px 0;">
          <button class="image-box" (click)="preview(data.passportFilePath)" style="width: 100%;">Паспорт</button>
        </div>

        <div class="view__list" style="display: flex; margin: 5px 0;">
          <button class="image-box" style="width: 100%;"
            (click)="preview(data.registrationCertificateFilePath)">Регистрационное
            свидетельство
          </button>
        </div>

      </div>
    </div>
  </section>
</main>

<ng-template #dialogPreview>
  <div class="image-priview">
    <img [src]="image?fileApi+image:'https://fireflysemantics.github.io/images/macro-1452987_1920.jpg'" alt="" />
  </div>
</ng-template>